@font-face {
    font-family: 'Urbanist';
    src: local('Urbanist'),url(../../../public/fonts/Urbanist-VariableFont_wght.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #121212; 
    color: #e0e0e0; 
}

.checkInput {
    display: flex;
}

.task {
    z-index: -1;
    margin: 0.7em 2em;
    height: 50px;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #363636; 
    background-color: #2a2a2a; 
    border-radius: 8px; 
    transition: all 0.1s;
}
.task:hover {
    cursor: pointer;
    transform: scale(1.005);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}
.checkboxClass {
    border-radius: 100%;
    height: 20px;
    aspect-ratio: 1/1;
    margin: 0 1em 0 0;
    align-items: center;
    background-color: #3f3f3f; 
    border: 2px solid #555; 
}

.checkboxClass:checked {
    background-color: #4caf50; 
    border: 2px solid #388e3c; 
}
.taskTitle {
    display: flex;
    align-items: center;
}
.taskTitle.checked {
    text-decoration: line-through;
    color: gray;
}

.priorityCircle {
    margin: auto 1em;
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1/1;
    background-color: #777; 
    z-index: 1; 
}

.priorityCircle.low {
    background-color: greenyellow; 
}

.priorityCircle.medium {
    background-color: yellow; 
}

.priorityCircle.high {
    background-color: red; 
}

.priorityText {
    align-items: center;
    display: flex;
    z-index: 1; 
}

.priorityHolder {
    position: relative;
    display: flex;
    height: 100%;
    padding-left: 1em;
}

.priorityHolder:hover {
    
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
    z-index: 2; 
}

.dropdownContent {
    position: absolute;
    top: 105%;
    left: 0%;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 3; 
}

.dropdownContent > a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent > a:first-of-type {
    border-radius: 8px 8px 0 0;
}

.dropdownContent > a:last-of-type {
    border-radius: 0 0 8px 8px;
}

.dropdownContent > a:hover {
    background-color: #3f3f3f;
}

.dropdownTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: inherit;
}