.priorityCircle {
    margin: auto 1em;
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1/1;
    background-color: #777; 
}

.priorityCircle.low {
    background-color: greenyellow; 
}

.priorityCircle.medium {
    background-color: yellow; 
}

.priorityCircle.high {
    background-color: red; 
}
.priorityText {
    align-items: center;
    display: flex;
}